@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Rubik", sans-serif;
}

body {
  @apply bg-blue text-white min-h-screen;
}

#__next {
  @apply min-h-screen;
}

@layer base {
  p {
    @apply text-lg;
  }
}

.animate-wave {
  animation: wave 1s alternate linear infinite;
}

@keyframes wave {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(10deg);
  }
}
